ScrollView {
    background-color: #2A2932;
    color: white;
}

.form {
    margin-top: 100;
}

Label[text="ACME Claims"] {
    color: #FFFFFF;
    font-size: 32;
    text-align: center;
    margin-top: 50;
    margin-bottom: 40;
    font-weight: bold;
}

Label[text="User"], Label[text="Password"] {
    color: white;
}

.form StackLayout > TextField {
    border-width: 0 0 1 0;
    border-color: #9E9DA1;
    color: white;
    padding: 0 0 5 0;
    text-decoration: none;
    background-color: transparent;
    font-weight: 500;
    margin-bottom: 40;
}

.-primary {
    background-color: rgb(89, 152, 255);
    border-radius: 20;
    padding: 15 0;
}
Label[text="or"] {
    color: gray;
}
.-outline {
    border-width: 0;
    color: white;
}